*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    width: 100%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    min-width: 300px;
    min-height: 250px;
    background-color: #fff;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
padding: 20px;
border-radius: 10px;
position: relative;
display: flex;
align-items: center;
/* flex-direction: column; */
}
.score{
    position:relative;
    /* background-color: red; */
    display: inline-block;
    left: 60%;
    font-weight: 600;
}
.total{
    font-weight: 600;
}

.optionsContainer{
    margin-top: 15px;
    /* height: 20px;
    width: 40px; */
}
.optionsContainer label {
    display: block;
    padding: 5px 0;
    margin-bottom: 10px;
    /* background: red; */
    border: 1px solid rgb(138, 119, 119);
    border-radius: 3px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;

}

.hide{
    position: absolute;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    /* padding-left: 20px; */
    background-color: #fff;

}
span{
    display: block;
    width: 100%;
    padding: 5px;
    /* background: black; */
    margin-left: 10px;
}
button{
    margin: auto;
    display: block;
    padding: 4px 20px;
    font-size: 16px;
    background-color: blueviolet;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}
.center{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    
}